#div_pesquisa{
    background-color: #f3baba;
    margin: 1vw 20vw;
    border-radius: 2vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
}

select {
    width: 20vw;
    padding: 0.5vw;
    border-radius: 1vw;
    appearance: none;
}

option {
    width: 20vw;
    padding: 0.5vw;
    border-radius: 1vw;
    appearance: none;
}

.botao{
    background-color: aliceblue;
    width: 10vw;
    border-radius: 1vw;
}
/* COMENTARIOS */

.comentarios{
    margin: 1vw 5vw;
}
.feed-container{
    margin: 1vw 10vw;
}

.publicacao{
    background-color: #f3baba;
    margin: 1vw;
    border-radius: 2vw;
    padding: 4vw;
}