body{
    margin: 0%;
    background-image: url(../img/listras.jpg);
    background-repeat: no-repeat cover;
    font-family: 'Barlow', sans-serif;
}


.cadastro input{
    border-color: black;
    border-radius: 0.4vw;
    width: 15vw;
    height: 2vw;
    padding: 0.4vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.campo{ 
    height: 36vw;
    margin: 3vw 35vw;

    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3baba;
    flex-direction: column;
    box-shadow: 15px 15px 15px black;
}

.campo button{
    border-radius: 0.4vw;
    padding: 0.5vw;
    width: 15vw;
    background-color: black;
    color: #fff;
    font-weight: bold;
}

/* API */
.alerta_erro{
    display: flex;
    justify-content: flex-end;
  }
  
  .card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #e6005a 3px solid;
    padding: 10px;
    margin-right: 10%;
  }
  
  .card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 20px;
  }

/* ------------------ */
.loading-div {
    width: 50px;
    margin: auto;
    display: none;
  }
  
  .loading-div img {
    height: 50px;
    width: 50px;
  }
