body{
    margin: 0%;
    font-family: 'Barlow', sans-serif;
}

.conteudo_comentario{
    background-image: url(../img/60286.jpg);
    background-repeat: no-repeat cover;
    
}

/* COMENTARIOS */
.comentarios{
    margin: 1vw 5vw;
}
.feed-container{
    margin: 1vw 10vw;
}

.publicacao{
    background-color: #f3baba;
    margin: 1vw;
    border-radius: 2vw;
    padding: 4vw;
}