body{
    margin: 0%;
    font-family: 'Barlow', sans-serif;
}

html{
    scroll-behavior: smooth;
}
/* 
body::-webkit-scrollbar{    
    width: 10px;
}

body::-webkit-scrollbar-track{
    background-color: rgb(211, 199, 199);

}

body::-webkit-scrollbar-thumb{
    background-color: #f1add7;
    border-radius: 2vh;
} */






/* HEADER */
.header{
    background-color: #f3baba;
    display: flex;
    color: black;
    padding: 0.2vw 5vw;
    align-items: center;
    border-bottom: solid 5px black;
    /* position: fixed; */
}

.navbar{
    display: flex;
}

.navbar ul {
    display: flex;    
    justify-content: space-between;
    margin-left: 40vw;
}

.navbar ul li {
    list-style: none;
    margin: 0.1vw;
    width: 8vw;
    text-align: center;
}
.navbar ul li a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.navbar ul li a:hover{
    opacity: 0.5;
    transition-delay: 0.2s;
    background-color: #eee7e7;
    padding: 0.3vw;
    border-radius: 0.4vw;
}


/* HOME */

#home {

    display: flex;
    align-items: center;
    justify-content: end;
    background-image: url(../img/fun.jpg);
    height: 45vw;
    background-size: cover;
    background-position: center;
}


.chamada{
    margin: 4vw 12vw ;
    width: 35vw;
    height: 13vw;
    background-color: #f3baba;
    padding: 2vw;
    border: solid 3px black;
    text-align: right;
    box-shadow: 15px 15px 5px  black;
}

.chamada button{
    background-color: white;
    border: solid 3px black;
    border-radius: 0.8vw;
    font-weight: bold;
    margin: 1vw;
    width: 9vw;
    height: 2vw;
    padding: 0.1vw;
}

.chamada button a {
    text-decoration: none;
    color: black;
}

.chamada button:hover{
    cursor: pointer;
    background-color: #e2bbbb;
    transition: 0.2s;
}

/* OQUE */
#oque{
    background-image: url(../img/listras.jpg);
    padding: 3vw 10vw;
}

.caixas{
    margin: 5vw 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.caixa{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa .titulo{
    font-weight: bold;
    font-size: medium;
    padding: 0.5vw;
    margin: 1vw;
    text-align: center;
    background-color: #f3baba;
    border: solid 2px black;
    width: 14vw;
    box-shadow: 6px 6px 5px  black;
}

.caixa img{
    border-radius: 2vw;
}

/* QUEM FAZ */

#quemfaz{
    margin: 0;
    padding: 3vw;
    background-color: #f3baba;
}
.quemfaz{
    display: flex;
    flex-direction: row;
    margin: 2vw 15vw;
    padding: 3vw;
    border-radius: 1vw;
    height: 30vw;
    background-color: #ffffff;
    border: solid 2px black;
}

.quem{
    display: flex;
    flex-direction: column;
    margin: 2vw;
}

.titulo{
    font-weight: bold;
    font-size: larger;
    text-align: center;
}

/* FOOTER */
.footer{
    background-color: #0c0b0b;
    color: #ffffff;
    padding: 0.5vw ;
    text-align: center;
    font-size: smaller;
}