body{
    margin: 0%;
    font-family: 'Barlow', sans-serif;

}

.conteudo_inspiracao{
    padding: 0%;
    background-image: url(../img/60286.jpg);
    background-repeat: no-repeat cover;

}
/* HEADER */
.header{
    background-color: #f3baba;
    display: flex;
    color: black;
    border-bottom: solid 5px black;
    justify-content: space-around;
    align-items: center;
    
    /* position: fixed; */
}

#logo a{
    text-decoration: none;
    color: black;
    
}
.navbar{
    display: flex;

}

.navbar ul {
    display: flex;    
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    margin: 0.1vw 0.7vw;
}
.navbar ul li a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.navbar ul li:hover{
    opacity: 0.5;
    color: white;    
    transition: 0.2s;
}

/* FILTRO */

.filtro{
    margin-left: 25vw;
    margin-right: 25vw;
    padding: 0.8vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.filtro button{
    font-family: 'Barlow', sans-serif;
    width: 10vw;
    background-color: #f3baba;
    color: black;
    border-radius: 2vw;
    padding: 0.2vw;
}

.filtro button:hover{
    background-color: aliceblue;
    cursor: pointer;
}

/* INSPIRACAO */
img{
    max-width: 100%;
    border-radius: 1vw;
    margin-bottom: 0.6vw;
}
img:hover{
    cursor: pointer;
}

#div_inspiracao{
    display: flex;
    align-items: center;
}

#div_imagens {
    margin: 1vw 3.8vw;
    columns: 5 50px;
    column-gap: 0.6vw;
    
}
#div_imagens img {
    transition: transform 0.9s ease;

}
#div_imagens img:hover {
    transform: scale(1.1)
}


