body{
    background-image: url(../img/60286.jpg);
}


.caixa_perfil{
    background-color: #f7d5d5;
    margin: 2vw 15vw;
    padding: 2vw;
    border-radius: 5vw;
}

#div_perfil{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#div_informacoes{
    margin: 2vw;
}

#div_favoritos{
    background-color: #f7d5d5;
    margin: 2vw 15vw;
    padding: 2vw;
    border-radius: 5vw;
}

#div_pesquisa{
    background-color: #f3baba;
    margin: 1vw 20vw;
    border-radius: 2vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
}

select {
    width: 20vw;
    padding: 0.5vw;
    border-radius: 1vw;
    appearance: none;
}

option {
    width: 20vw;
    padding: 0.5vw;
    border-radius: 1vw;
    appearance: none;
}

.botao{
    background-color: aliceblue;
    width: 10vw;
    border-radius: 1vw;
}

/* GRAFICOS */

.graficos{
    display: flex;
    flex-direction: row;
}
