.conteudo_tutoriais{
   background-image: url(../img/60286.jpg);
   background-repeat: no-repeat cover;
}

.menu_tutoriais{
    display: flex;
    justify-content: center;
}



#div_aleatorio{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
}

button{
    color: white;
    background-color: #f3baba;
    border-radius: 2vw;
    border-color: black;
}
/* TUTORIAIS */

#div_tutoriais{
  display: flex;
  align-items: center;
}

#div_videos {
  margin: 1vw 3.8vw;
  columns: 4 60px;
  column-gap: 0.8vw;
  
}
#div_videos img {
  transition: transform 0.9s ease;
  margin-bottom: 1vw;
}
#div_videos img:hover {
  transform: scale(1.1)
}

/* sorteio */
.sorteio{
    display: flex;
    justify-content: center;
    
  }

#div_sorteio {
    display: none;
    background-color: #f3baba;
    color: black;
    position: fixed;
    border-radius: 1vw;
    border: #111011 3px solid;
    padding: 2vw 3vw;

  }