.conteudo_tutoriais {
  background-image: url(../img/60286.jpg);
  background-repeat: no-repeat cover;
}

.menu_tutoriais {
  display: flex;
  justify-content: center;
}

#div_aleatorio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* FILTRO */
.botoes select {
  width: 10vw;
  background-color: #f3baba;
  padding: 0.2vw 1vw;
  border-radius: 2vw;
  font-size: 14px;
  border: solid 2px black;
  font-family: 'Barlow', sans-serif;
  box-shadow: 2px 4px 4px black;
  cursor: pointer;
}

.select:hover {
  cursor: pointer;

}

.botoes {
  margin-left: 25vw;
  margin-right: 25vw;
  padding: 0.8vw;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.botoes button {
  font-family: 'Barlow', sans-serif;
  width: 10vw;
  background-color: #f3baba;
  color: black;
  border-radius: 2vw;
  padding: 0.3vw;
  box-shadow: 2px 4px 4px black;

}

.botoes button:hover {
  background-color: rgb(236, 206, 232);
  cursor: pointer;
}

/* TUTORIAIS */

#div_tutoriais {
  display: flex;
  align-items: center;
}

#div_videos {
  margin: 1vw 6vw;
  columns: 4 60px;
  column-gap: 0.8vw;

}

#div_videos img {
  margin-bottom: 1vw;
}

/* sorteio */

#div_sorteio {
  display: none;
  /* padding: 1vw; */
  background-color: #f3baba;
  color: black;
  position: fixed;
  /* border-radius: 1vw; */
  width: 70%;
  height: 60%;
  margin: 2vw 2vw 2vw 12vw;
  border: #111011 3px solid;
}

#fechar{
  background-color: white;
}

#div_sorteio button {
  margin-left: 67vw;
  background-color: #111011;
  color: white;
  padding: 0.5vw;
  cursor: pointer;
}

#div_sorteio button:hover{
  background-color: white;
  color: #f3baba;
}

#div_sorteio img {
  margin: 6vw 25vw;
}