.conteudo_tutoriais{
   background-image: url(../img/60286.jpg);
   background-repeat: no-repeat cover;
}

.menu_tutoriais{
    display: flex;
    justify-content: center;
}



#div_aleatorio{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
}

button{
    color: white;
    background-color: #f3baba;
    border-radius: 2vw;
    border-color: black;
}

/* sorteio */
.sorteio{
    display: flex;
    justify-content: center;
    
  }

#div_sorteio {
    display: none;
    background-color: #f3baba;
    color: black;
    position: fixed;
    border-radius: 1vw;
    border: #111011 3px solid;
    padding: 2vw 3vw;

  }