body{
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* HEADER */
.header{
    background-color: #f3baba;
    display: flex;
    color: black;
    padding: 0.2vw 5vw;
    align-items: center;
    border-bottom: solid 4px black;
}

.logo{
    margin-right: 45%;
}
.navbar{
    display: flex;
}

.navbar ul {
    display: flex;    
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    margin: 0.1vw;
    width: 8vw;
}
.navbar ul li a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

/* HOME */

#home {
    display: flex;
    flex-direction: row;
    padding: 2vw;
}

.img_chamada img{
    border-radius: 2vw;
    margin: 5vw;
}

.chamada{
    margin: 5vw;
}