body{
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.filtro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filtro select{
    padding: 0.6vw;
    border: solid 2px black;
    border-color: black;
    border-radius: 0.7vw;
}

/* INSPIRACAO */
img{
    max-width: 100%;
    border-radius: 1vw;
    margin-bottom: 0.6vw;
}
.inspiracao{
    display: flex;
    align-items: center;

}
.imagens {
    margin: 3.8vw;
    columns: 5 50px;
    column-gap: 0.6vw;
}
